<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <tbody>
    <% if user_signed_in? %>
<tr>
    <td>
      <h2>Booker</h2>
    </td>
<td><%= link_to " Home" , user_path(current_user),class: "home glyphicon glyphicon-home" %></td>
<td><%= link_to " Users" , users_path, class: "users glyphicon glyphicon-user" %></td>
<td><%= link_to " Books" , books_path, class: "books glyphicon glyphicon-book"%></td>
<td><%= link_to " logout" , destroy_user_session_path,method: :delete, class: "logout glyphicon glyphicon-log-out"%></td>
</tr>
</tbody>

<% else %>
<%= link_to " Home" , root_path, class: "home glyphicon glyphicon-home" %>
<%= link_to " About", home_path, class: "about glyphicon glyphicon-link" %>
<%= link_to " sign up" , new_user_registration_path, class: "sign_up glyphicon glyphicon-edit" %>
<%= link_to " login" , new_user_session_path, class: "sign_in glyphicon glyphicon-log-in" %>


<% end %>
    <%= yield %>
    <p>CopyRight Infratop.inc</p>
  </body>
</html>
